Source: ros-kilted-depthai-ros
Section: misc
Priority: optional
Maintainer: Adam Serafin <adam.serafin@luxonis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-depthai-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-depthai, ros-kilted-depthai-bridge, ros-kilted-depthai-descriptions, ros-kilted-depthai-examples, ros-kilted-depthai-filters, ros-kilted-depthai-ros-driver, ros-kilted-depthai-ros-msgs, ros-kilted-ros-workspace
Description: The depthai-ros package
