name: Run hil tests
on:
  workflow_call:
    secrets:
      CONTAINER_REGISTRY:
        required: true
      HIL_PAT_TOKEN:
        required: true

jobs:
 build_docker_container:
    runs-on: ['self-hosted', 'hil-test-v3']
    outputs:
        tag: ${{ steps.build_and_push.outputs.tag }}
    steps:
    - uses: actions/checkout@v3
    - name: Build and push
      id: build_and_push
      env:
        CONTAINER_REGISTRY: ${{ secrets.CONTAINER_REGISTRY }}
      run: |
        BRANCH_NAME="${{ github.ref_name }}"
        if [[ -n "${{ github.head_ref }}" ]]; then
         BRANCH_NAME="${{ github.ref }}"
         PULL_REQUEST="true"
        fi
        TAG="depthai_ros_${{ github.sha }}"
        echo "tag=$TAG" >> $GITHUB_OUTPUT
        echo "Using branch: $BRANCH_NAME"
        .ci/hil/build_and_push.sh "$BRANCH_NAME" "$CONTAINER_REGISTRY" "${{ github.sha }}" "$PULL_REQUEST" "$TAG"

 linux_rvc2_usb_test:
    needs: [build_docker_container]
    runs-on: ['self-hosted', 'testbed-runner']
    steps:
    - uses: actions/checkout@v3

    - name: Run RVC2 tests
      run: |
        source .ci/hil/prepare_hil_framework.sh ${{ secrets.HIL_PAT_TOKEN }}
        export RESERVATION_NAME="https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID#rvc2-${{ inputs.flavor }}"
        exec hil_runner --models 'oak_d or oak_d_pro' --reservation-name $RESERVATION_NAME --wait --docker-image ${{ secrets.CONTAINER_REGISTRY }}/depthai-ros-hil:${{ needs.build_docker_container.outputs.tag }} --commands "/ws/src/depthai-ros/.ci/hil/run_hil_tests.sh rvc2 usb"

 linux_rvc4_test:
    needs: [build_docker_container]
    runs-on: ['self-hosted', 'testbed-runner']
    steps:
    - uses: actions/checkout@v3

    - name: Run RVC4 tests
      run: |
        source .ci/hil/prepare_hil_framework.sh ${{ secrets.HIL_PAT_TOKEN }}
        export RESERVATION_NAME="https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID#rvc4"
        exec hil_runner --models 'oak4_d or oak4_pro' --reservation-name $RESERVATION_NAME --wait --docker-image ${{ secrets.CONTAINER_REGISTRY }}/depthai-ros-hil:${{ needs.build_docker_container.outputs.tag }} --commands "/ws/src/depthai-ros/.ci/hil/run_hil_tests.sh rvc4 tcpip"
